.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.TitleBlock {
    font-size: 75px;
}

ul {
    text-decoration: none;
    text-decoration-line: none;
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 30px;
    padding: 10px;
}

.item-name {
    margin-right: 20px; 
}

.delete-button, .add-button {
    border: none;
    font-size: 15px;
    background-color: white;
    padding: 10px;
    font-family:'Coolvetica';
    border-radius: 10%;
}

.delete-button:hover, .add-button:hover {
    background-color: #ffbf00;
}

.input {
    margin-right: 20px;
    padding: 10px;
    background-color: white;
}